.first{
    background-image: white;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    color: white;
    height: 100vh;
}

.imagem-lateral img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.navbar{
    background-color: #0096C7;
}

.container-acesso-adm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    padding: 40px;
    background-color: white;
    height: 100vh;
}

.conteudo-formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conteudo-formulario h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.formulario {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black;
  width: 450px;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.formulario input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formulario button {
  padding: 10px 20px;
  background-color: #00BFFF;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-control{
    border-radius: 5px;
    background-color: #CAF0F8;
    color: black;
}

h2{
    color: black;
    font-family: Helvetica;
    font-size: 25px;
}

label{
  color: black;
  font-family: Helvetica;
  font-size: 15px;
}

#botao{
  color: white;
  border-radius: 10px;
}

#botao:hover{
    background-color: #46b5cb;
    cursor: pointer;
}

#botao:active{
    transform: translateY(2px);
    background-color: #379fb4;
    box-shadow: none;
}

@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
  }

  .texto-e-botoes {
    align-items: center;
  }

  .botoes {
    flex-direction: column;
    gap: 10px;
  }
}
