* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Quicksand", sans-serif;
}

nav{
    display: flex;
    padding: 5px 65px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    font-weight: 800;
}
.brand {
    font-size: 35px;
}
nav ul {
    display: flex;
    gap: 20px;
}
nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: white;
}

.father{
    position: relative;
}

.first{
    background-image: url("../img/florest-home-image.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    color: white;
    min-height: 800px;
}

.maincontent{
    margin-top: 12%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
}

.title{
    text-shadow: 0 0 10px #1b363c;
    width: 500px;
}

.register{
    font-size: larger;
    border: none;
    width: 250px;
    height: 80px;
    border-radius: 50px;
    background-color: #48CAE4;
    transition: 0.1s;
    box-shadow: 0px 3px 10px #1b363c;
}

.register:hover{
    background-color: #46b5cb;
    cursor: pointer;
}

.register:active{
    transform: translateY(2px);
    background-color: #379fb4;
    box-shadow: none;
}

.register a{
    color: white;
    text-decoration: none;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #cfe4e8 10%, #CFE8DB 50%, #CFD4E8 90%);
    position: relative; 
    height: 800px; 
    width: 100%;
    flex-wrap: wrap;

}

.titlesecond{
    text-align: center;
    width: 70%;
    position: absolute;
    top: 10%;
    color: #1b363c;
    z-index: 4;
}

.second::before{
    content: "";
    top: -170px;
    position: absolute;
    width: 100%;
    height: 180px;
    z-index: 2;
}

.container-smoky {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.smokyLeft {
    height: 100%; 
    width: 500px;
    background-image: linear-gradient(to right, #cfe4e8, #ffffff00);
    position: absolute;
    left: 0;
}

.smokyRight {
    height: 100%; 
    width: 300px;
    background-image: linear-gradient(to left, #cfe4e8, #ffffff00);
    position: absolute;
    right: 0;
}

.carousel{
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding: 20px;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    animation: spin 40s infinite linear;
    padding-right: 25px;
}

.card {
    color: #1b363c;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    padding: 16px;
    background-color: #ffffff;
    font-size: 14px;
    border-radius: 6px;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 10px  #1b363c7c;
}
.card span{
    font-size: 40px;
}
.card h2{
    font-size: 25px;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}


@media (max-width: 768px){
    .title{
        font-size: 35px;
        width: 400px;
    }
    .maincontent{
        height: 450px;
    }
    .register{
        width: 200px;
        height: 70px;
    }

    .carousel{
        width: 100%;
    }
    .smokyLeft, .smokyRight{
        width: 200px;
    }
}

.footer {
    background-color: #1b363c;
    color: white; 
    padding: 40px 5%;
    margin-top: 0; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.footer-column {
    width: 20%;
    min-width: 100px;

}

.footer-column h3 {
    border-bottom: 2px solid #9eb1b6; 
    padding-bottom: 10px;

}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column a {
    color: #cccccc;
    text-decoration: none;
    line-height: 1.8;
    transition: color 0.2s;
}

.footer-column a:hover {
    color: #61b2c3; 
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 16px;
}

.maincontent, .carousel, .footer-content, .titlesecond{
    visibility: hidden;
}


@media (max-width: 520px){
    body{
        font-size: 25px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "ADLaM Display", Arial, Helvetica, sans-serif;
    }
    nav{
        justify-content: center;
        flex-direction: column;
        border: none;
    }
    .brand{
        font-size: 60px;
    }
    nav ul{
        margin: 0;
        margin-top: 5px;
        padding: 0;
        font-size: 20px;
        gap: 10px;
    }
    nav li {
        margin: 0;
        padding: 7px;
        transition: 0.2s;
        border-radius: 50px;
    }
    nav li:hover{
        background-color: #1b363c9d;
    }
}
